functions-framework==3.8.1
google-api-core==2.19.1
google-api-python-client==2.136.0
google-auth==2.31.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud-secret-manager==2.20.1
googleapis-common-protos==1.63.2
googletrans==3.0.0
grpc-google-iam-v1==0.13.1
google-cloud-logging==3.11.0
pandas==2.2.2
requests==2.32.3
