# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Operation logs


# Environments
.env
.venv
env_google_calendar_events/
secrets/
notes.txt
